---
layout: default
---

<div class="home">
  <div class="row bg-red">
    <div class="col-12">
      <p class="t-section-headline t-white" style="font-size: 5em;" padding-bottom="10%">CODE FOR BRASÍLIA</p>
    </div>
  </div>

  <div class="row row--centered yank--north ">
    <div class="card card--map">
      <div class="card-content">
        <h2 class="t-h4">Toda quarta-feira às 19h</h2>
        <address>
          Espaço de Coworking Público Empreende Brasília
          <br>
          Secretaria Adjunta do Trabalho
          <br>
          Quadra 06, Lote 10/11, Agência do Trabalhador, Setor Comercial Sul
        </address>
        <br>
        <a href="https://www.meetup.com/CodeForBrasilia-an-OpenBrazil-Brigade/" class="btn-secondary">Quero participar!</a>
      </div>
      <div class="card-img">
        <a href="https://goo.gl/maps/YGzeyojvdD22" target="_blank">
            <img src="/img/mapa.png">
        </a>
      </div>
    </div>
  </div>



  <div class="row wrapper">
    <div class="col-12 l-pad--top l-pad--bottom t-center">
      <h2 class="t-section-headline">E se você pudesse contribuir para que os <br> Serviços Públicos fossem melhores?</h2>

      <div class="col-4">
        <h3 class="t-h4">Converse conosco! </h3>
        {% include icon/slack.html %}
        <p>Canal Oficial no Slack <br><a href="https://codeforbrasilia.slack.com/" target="_blank">Entre no grupo</a></p>
      </div>

      <div class="col-4">
        <h3 class="t-h4">Hackeie Brasília conosco!</h3>
        {% include icon/github.html %}
        <p>Todos os nossos projetos são open source, gratuitos <br><a href="http://github.com/codeforbrasilia" target="_blank">Veja nosso código</a></p>
      </div>

      <div class="col-4">
        <h3 class="t-h4">Visite nossa página! </h3>
        <img src="/img/facebook.png" height="70px" width="70px" style="margin-bottom:20px;">

        <p>Code For Brasília no Facebook <br><a href="https://www.facebook.com/CodeForBrasilia" target="_blank">Siga-nos</a></p>
      </div>

    </div>
  </div>

</div>
